@import 'React-App/styles/mixins.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  height: inherit;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.page-layout {
  @include twelve-column-layout;
  height: inherit;
}
